body {
    background: #ededed;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.card-header {
    padding: 0!important;
}

.cursor-pointer {
    cursor: pointer;
}
.logo {
    width: 150px;
}